{% extends "layout.html" %}

{% block title %}
    Fiesta Primavera
{% endblock %}

{% block main %}

    <!-- Section for each Fiesta -->
    <!-- Pascua -->
    <br><br>
    <section class="section-content py-5">
	    <div class="container"  id="borderfiesta">
            <table>
                <tr>
                    <td>
                        <h1>Pascua (Pesaj) - Crucifixión de Cristo</h1>
                        <p><h3>Conmemora:</h3></p>
                        <p><h3>- Salvación y liberación del pueblo de Israél, que salió de Egipto por la Sangre del Cordero.</h3></p>
                        <p><h3>- La crucifixión de Jesucristo, que se convirtió en nuestra pascua.</h3></p>
                        <p><h3>Se celebra el día 14 del mes de Nisán, según el calendario judio. El mes de Nisan transcurre entre el 14 de marzo y el 12 de abril en el calendario Gregoriano.</h3></p>
                        <table align="right">
                            <tr>
                                <td class="dropdown">
                                    <ul>
                                        <h5><a>Levitico 23: 5. &nbsp; &nbsp; &nbsp; &nbsp;</a></h5>
                                        <li class="dropdown-content">
                                            <p>El día 14 del mes primero, al atardecer, se celebrará La Pascua en honor de JHWH.</p>
                                        </li>
                                    </ul>
                                </td>
                                <td class="dropdown">
                                    <ul>
                                        <h5><a>Éxodo 12: 21-24. &nbsp; &nbsp; &nbsp; &nbsp;</a></h5>
                                        <li class="dropdown-content">
                                            <p>21. Y Moisés convocó a todos los ancianos de Israel, y les dijo: Sacad y tomaos corderos por vuestras familias, y sacrificad la pascua.</p>
                                            <p>23. Porque Jehová pasará hiriendo a los egipcios; y cuando vea la sangre en el dintel y en los dos postes, pasará Jehová aquella puerta,
                                            y no dejará entrar al heridor en vuestras casas para herir.</p>
                                            <p>24. Guardaréis esto por estatuto para vosotros y para vuestros hijos para siempre.</p>
                                        </li>
                                    </ul>
                                </td>
                                <td class="dropdown">
                                    <ul>
                                        <h5><a>1 Corintios 5: 7. &nbsp; &nbsp;</a></h5>
                                        <li class="dropdown-content">
                                            <p>7 ... porque nuestra pascua, que es Cristo, ya fue sacrificada por nosotros.</p>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <a>
                            <img src="/static/colfiesta/collarpascua.jpeg" id="imagedisplay" alt="Collar Pascua">
                            <h6>Collar Pascua</h6>
                            <h6>$200</h6>
                        </a>
                        <a>
                            <button class="agregarCarrito btn btn-info" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                    <td>
                        <a>
                            <img src="/static/colfiesta/anillopascua.jpeg" id="imagedisplay" alt="Anillo Pascua">
                            <h6>Anillo Pascua</h6>
                            <h6>$100</h6>
                        </a>
                        <a>
                            <button class="agregarCarrito btn btn-info" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                    <td>
                        <a>
                            <img src="/static/colfiesta/aretespascua.jpeg" id="imagedisplay" alt="Aretes Pascua">
                            <h6>Aretes Pascua</h6>
                            <h6>$120</h6>
                        </a>
                        <a>
                            <button class="agregarCarrito btn btn-info" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <a>
                            <br>
                            <img src="/static/colfiesta/topospascua.jpeg" id="imagedisplay" alt="Topos de Pascua">
                            <h6>Topos de Pascua</h6>
                            <h6>$70</h6>
                        </a>
                        <a>
                            <button class="agregarCarrito btn btn-info" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td style="padding-top: 25px;">
                        <a>
                            <button class="agregarCarrito btn btn-info mainyellow" type="submit" style="background: #CCA10F;">Comprar el Juego Completo por $441</button>
                        </a>
                    </td>
                    <td>
                    </td>
                </tr>
             </table>
             <br>
        </div>
    </section>

    <!-- Pan sin Levadura -->
    <section class="section-content py-5">
	    <div class="container" id="borderfiesta">
            <table>
                <tr>
                    <td>
                        <h1>Pan sin Levadura (Matzá) - Sepultura</h1>
                        <p><h3>Conmemora:</h6></p>
                        <p><h3>- El mandato de Dios YHWH al pueblo de Israél de no comer pan sin levadura durante siete días como símbolo de ser limpios del pecado.</h3></p>
                        <p><h3>- Sepultura de Cristo, nuestro pan sin levadura que nos limpia del pecado.</h3></p>
                        <p><h3>Se celebra durante siete días, desde el día 15 al 21 del mes de Nisán. El mes de Nisán inicia desde el día 14 de marzo al 12 de abril según el calendario Gregoriano.</h3></p>
                        <table align="right">
                            <tr>
                                <td class="dropdown">
                                    <ul>
                                        <h5><a>Levitico 23: 6. &nbsp; &nbsp; &nbsp; &nbsp;</a></h5>
                                        <li class="dropdown-content">
                                            <p>El día 15 del mismo mes se celebrará la fiesta de los panes sin levadura en honor de Dios YHWH. Durante siete días se comerá pan sin levadura.</p>
                                        </li>
                                    </ul>
                                </td>
                                <td class="dropdown">
                                    <ul>
                                        <h5><a>Lucas 23: 53. 54. &nbsp; &nbsp; &nbsp; &nbsp;</a></h5>
                                        <li class="dropdown-content">
                                            <p>53 Después lo bajó de la cruz, lo envolvió en un lienzo y lo depositó en un sepulcro excavado en la roca, donde nadie aún había sido sepultado.</p>
                                            <p>54 Era el día de preparación de la Pascua; y estaba por comenzar el día de reposo.</p>
                                        </li>
                                    </ul>
                                </td>
                                <td class="dropdown">
                                    <ul>
                                        <h5><a>1 Corintios 5: 7. 8. &nbsp; &nbsp;</a></h5>
                                        <li class="dropdown-content">
                                            <p>7 Limpiaos, pues, de la vieja levadura, para que seáis nueva masa, sin levadura como sois; porque nuestra pascua, que es Cristo, ya fue sacrificada por nosotros.</p>
                                            <p>8 Así que celebremos la fiesta con panes sin levadura, de sinceridad y de verdad.</p>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <a>
                            <img src="/static/colfiesta/collarmatza.jpeg" id="imagedisplay" alt="Collar Matzá">
                            <h6>Collar Matzá</h6>
                            <h6>$250</h6>
                        </a>
                        <a>
                            <button class="agregarCarrito btn btn-info" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                    <td>
                        <a>
                            <img src="/static/colfiesta/anillomatza.jpeg" id="imagedisplay" alt="Anillo Matzá">
                            <h6>Anillo Matzá</h6>
                            <h6>$100</h6>
                        </a>
                        <a>
                            <button class="agregarCarrito btn btn-info" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                    <td>
                        <a>
                            <img src="/static/colfiesta/aretesmatza.jpeg" id="imagedisplay" alt="Aretes Matzá">
                            <h6>Aretes Matzá</h6>
                            <h6>$150</h6>
                        </a>
                        <a>
                            <button class="agregarCarrito btn btn-info" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a>
                            <br>
                            <img src="/static/colfiesta/toposmatza.jpeg" id="imagedisplay" alt="Topos Matzá">
                            <h6>Topos Matzá</h6>
                            <h6>$60</h6>
                        </a>
                        <a>
                            <button class="agregarCarrito btn btn-info" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                    <td>
                    </td>
                    <td>
                        <a>
                            <img src="/static/colfiesta/brazaletematza.jpeg" id="imagedisplay" alt="Brazalete Matzá">
                            <h6>Brazalete Matzá</h6>
                            <h6>$200</h6>
                        </a>
                        <a>
                            <button class="agregarCarrito btn btn-info" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                 </tr>
                 <tr>
                    <td>
                    </td>
                    <td style="padding-top: 25px;">
                        <a>
                            <button class="agregarCarrito btn btn-info mainyellow" type="submit" style="background: #CCA10F;">Comprar el Juego Completo por $684</button>
                        </a>
                    </td>
                    <td>
                    </td>
                 </tr>
             </table>
             <br>
        </div>
    </section>

    <!-- Primicias -->
    <section class="section-content py-5">
	    <div class="container" id="borderfiesta">
            <table>
                <tr>
                    <td>
                        <h1>Primicias (Bikkurim) - Resurrección</h1>
                        <p><h3>Conmemora:</h6></p>
                        <p><h3>- El agradecimiento a Dios YHWH por los primero frutos de la cosecha.</h3></p>
                        <p><h3>- Resurrección de Jesucristo, el primer fruto de la cosecha en resucitar.</h3></p>
                        <p><h3>Se celebra al siguiente día del reposo de Panes sin Levadura el 17 del mes de Nisán. El mes de Nisan corresponde al mes de marzo y abril del calendario Gregoriano.</h3></p>
                        <table align="right">
                            <tr>
                                <td class="dropdown">
                                    <ul>
                                        <h5><a>Levítico 23: 10. 11. &nbsp; &nbsp; &nbsp; &nbsp;</a></h5>
                                        <li class="dropdown-content">
                                            <p>10 Habla a los hijos de Israel y diles: Cuando hayáis entrado en la tierra que yo os doy, y seguéis su mies,
                                            traeréis al sacerdote un manojo de trigo por primicia de los primeros frutos de vuestra siega.</p>
                                            <p>11 Y el sacerdote mecerá el manojo de trigo delante de Jehová, para que seáis aceptos; el día siguiente del día de reposo la mecerá.</p>
                                        </li>
                                    </ul>
                                </td>
                                <td class="dropdown">
                                    <ul>
                                        <h5><a>Lucas 24: 1-3. &nbsp; &nbsp; &nbsp; &nbsp;</a></h5>
                                        <li class="dropdown-content">
                                            <p>1 El primer día de la semana, muy de mañana, vinieron al sepulcro, trayendo las especies aromáticas que habían preparado.</p>
                                            <p>2 Y hallaron removida la piedra del sepulcro;</p>
                                            <p>3 y entrando no hallaron el cuerpo de Jesucristo.</p>
                                        </li>
                                    </ul>
                                </td>
                                <td class="dropdown">
                                    <ul>
                                        <h5><a>1 Corintios 15: 20. &nbsp; &nbsp;</a></h5>
                                        <li class="dropdown-content">
                                            <p>20 Pero lo cierto es que Cristo ha resucitado. El es el primer fruto de la cosecha: ha sido el primero en resucitar.</p>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <a>
                            <img src="/static/colfiesta/collarprimicias.jpeg" id="imagedisplay" alt="Collar Primicias">
                            <h6>Collar Primicias</h6>
                            <h6>$200</h6>
                        </a>
                        <a>
                            <button class="agregarCarrito btn btn-info" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                    <td>
                        <a>
                            <img src="/static/colfiesta/anilloresurreccion.jpeg" id="imagedisplay" alt="Anillo Resurrección">
                            <h6>Anillo Resurrección</h6>
                            <h6>$100</h6>
                        </a>
                        <a>
                            <button class="agregarCarrito btn btn-info" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                    <td>
                        <a>
                            <img src="/static/colfiesta/anilloprimicias.jpeg" id="imagedisplay" alt="Anillo Primicias">
                            <h6>Anillo Primicias</h6>
                            <h6>$120</h6>
                        </a>
                        <a>
                            <button class="agregarCarrito btn btn-info" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                 </tr>
                 <tr>
                    <td>
                        <a>
                            <img src="/static/colfiesta/toposprimicias.jpeg" id="imagedisplay" alt="Topos Primicias">
                            <h6>Topos Primicias</h6>
                            <h6>$100</h6>
                        </a>
                        <a>
                            <button class="agregarCarrito btn btn-info" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                    <td>
                        <a>
                            <img src="/static/colfiesta/brazaleteprimicias.jpeg" id="imagedisplay" alt="Brazalete Primicias">
                            <h6>Brazalete Primicias</h6>
                            <h6>$200</h6>
                        </a>
                        <a>
                            <button class="agregarCarrito btn btn-info" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                    <td>
                        <a>
                            <img src="/static/colfiesta/aretesprimicias.jpeg" id="imagedisplay" alt="Aretes Primicias">
                            <h6>Aretes Primicias</h6>
                            <h6>$130</h6>
                        </a>
                        <a>
                            <button class="agregarCarrito btn btn-info" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                 </tr>
                 <tr>
                    <td>
                    </td>
                    <td style="padding-top: 25px;">
                        <a>
                            <button class="agregarCarrito btn btn-info mainyellow" type="submit" style="background: #CCA10F;">Comprar el Juego Completo por $765</button>
                        </a>
                    </td>
                    <td>
                    </td>
                 </tr>
             </table>
             <br>
        </div>
    </section>

    <!-- Pentecostés -->
    <section class="section-content py-5">
	    <div class="container" id="borderfiesta">
            <table>
                <tr>
                    <td>
                        <h1>Pentecostés (Shabúa) - Espíritu Santo - Legislación en el Sinaí</h1>
                        <p><h3>Conmemora:</h3></p>
                        <p><h3>- Acción de gracias a Dios YHWH por la cosecha.</h3></p>
                        <p><h3>- Derramamiento del Espíritu Santo.</h3></p>
                        <p><h3>- La recepción de los Diéz Mandamientos en el monte Sinaí; ya que según la tradición, pasaron cincuenta días entre el éxodo
                        de Egipto y la entrega de los diez mandamientos.</h3></p>
                        <p><h3>Se celebra cincuenta días contados a partir del día de la fiesta de las Primicas en el mes de Siván según el calendario
                        Judio. Correspondiente desde el 12 de mayo al 10 de junio en el calendario Gregoriano .</h3></p>
                        <table align="right">
                            <tr>
                                <td class="dropdown">
                                    <ul>
                                        <h5><a>Levitico 23: 15-17. &nbsp; &nbsp; &nbsp; &nbsp;</a></h5>
                                        <li class="dropdown-content">
                                            <p>15 A partir del día en que lleven ustedes el manojo de trigo como ofrenda especial deben contar 50 días.</p>
                                            <p>16 Entonces presentaran a Dios YHWH su ofrenda de trigo nueva,</p>
                                            <p>17 llevaran de sus casas dos panes de la mejor harina cocidos con levadura, de unos 4 kilos cada uno como ofrenda especial de primeros frutos.</p>
                                        </li>
                                    </ul>
                                </td>
                                <td class="dropdown">
                                    <ul>
                                        <h5><a>Éxodo 19: 1. &nbsp; &nbsp; &nbsp; &nbsp;</a></h5>
                                        <li class="dropdown-content">
                                            <p>1 Los Israelitas llegaron al desierto del Sinaí al tercer mes de haber salido de Egipto. Acamparon frente al monte. Allí Moisés subió a encontrarse con Dios YHWH.</p>
                                        </li>
                                    </ul>
                                </td>
                                <td class="dropdown">
                                    <ul>
                                        <h5><a>Exodo 31: 18. &nbsp; &nbsp;</a></h5>
                                        <li class="dropdown-content">
                                            <p>18 cuando el Señor dejó de hablar con Moisés en el Monte Sinaí, le entregó las dos tablas de piedra con la ley escrita por el dedo mismo de Dios.</p>
                                        </li>
                                    </ul>
                                </td>
                                <td class="dropdown">
                                    <ul>
                                        <h5><a>Hechos 2: 1-4. &nbsp; &nbsp;</a></h5>
                                        <li class="dropdown-content">
                                            <p>1 Cuando llegó la fiesta de Pentecostés, todos los creyentes se encontraban reunidos en un mismo lugar.</p>
                                            <p>2 De repente un gran ruido que venía del cielo, como de un viento fuerte, resonó en toda la casa donde ellos estaban.</p>
                                            <p>3 Y se les aparecieron lenguas como de fuego que se repartieron, y sobe cada uno de ellos se les acentó una.</p>
                                            <p>4 Y todos quedaron llenos del Espíritu Santo.</p>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <a>
                            <img src="/static/colfiesta/collarmandamientos.jpeg" id="imagedisplay" alt="Collar Mandamientos">
                            <h6>Collar Mandamientos</h6>
                            <h6>$240</h6>
                        </a>
                        <a>
                            <button class="agregarCarrito btn btn-info" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                    <td>
                        <a>
                            <img src="/static/colfiesta/anillopentecostes.jpeg" id="imagedisplay" alt="Anillo Pentecostes">
                            <h6>Anillo Pentecostés</h6>
                            <h6>$120</h6>
                        </a>
                        <a>
                            <button class="agregarCarrito btn btn-info" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                    <td>
                        <a>
                            <img src="/static/colfiesta/toposespiritusanto.jpeg" id="imagedisplay" alt="Topos Espiritu santo">
                            <h6>Topos Espíritu Santo</h6>
                            <h6>$100</h6>
                        </a>
                        <a>
                            <button class="agregarCarrito btn btn-info" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                 </tr>
                 <tr>
                    <td>
                        <a>
                            <img src="/static/colfiesta/aretespentecostes.jpeg" id="imagedisplay" alt="Aretes Pentecostes">
                            <h6>Aretes Pentecostés</h6>
                            <h6>$130</h6>
                        </a>
                        <a>
                            <button class="agregarCarrito btn btn-info" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                    <td>
                    </td>
                    <td>
                        <a>
                            <img src="/static/colfiesta/brazaletepentecostes.jpeg" id="imagedisplay" alt="Brazalete Pentecostes">
                            <h6>Brazalete Pentecostés</h6>
                            <h6>$210</h6>
                        </a>
                        <a>
                            <button class="agregarCarrito btn btn-info" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                 </tr>
                 <tr>
                    <td>
                    </td>
                    <td style="padding-top: 25px;">
                        <a>
                            <button class="agregarCarrito btn btn-info mainyellow" type="submit" style="background: #CCA10F;">Comprar el Juego Completo por $720</button>
                        </a>
                    </td>
                    <td>
                    </td>
                 </tr>
             </table>
             <br>
        </div>
    </section>
{% endblock %}