{% extends "layout.html" %}

{% block title %}
    Fiesta Otoño
{% endblock %}

{% block main %}

    <!-- Section for each Fiesta -->
    <!-- Trompetas -->
    <br><br>
    <section class="section-content py-5">
	    <div class="container" id="borderfiesta">
            <table>
                <tr>
                    <td>
                        <p class="encabezadostextos">Trompetas - Rapto de la Iglesia</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua.</p>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <a>
                            <img src="/static/pending.png" alt="Pending">
                        </a>
                        <a>
                            <button class="agregarCarrito btn btn-info" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                    <td>
                        <a>
                            <img src="/static/pending.png" alt="Pending">
                        </a>
                        <a>
                            <button class="agregarCarrito btn btn-info" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                    <td>
                        <a>
                            <img src="/static/pending.png" alt="Pending">
                        </a>
                        <a>
                            <button class="agregarCarrito btn btn-info" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                 </tr>
                 <tr>
                    <td>
                    </td>
                    <td style="padding-top: 25px;">
                        <a>
                            <button class="agregarCarrito btn btn-info mainyellow" type="submit" style="background: #CCA10F;"> Juego Completo</button>
                        </a>
                    </td>
                    <td>
                    </td>
                 </tr>
             </table>
             <br>
        </div>
    </section>

    <!-- Expiación-->
    <section class="section-content py-5">
	    <div class="container" id="borderfiesta">
            <table>
                <tr>
                    <td>
                        <p class="encabezadostextos">Expiación - Segunda Venida</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua.</p>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <a>
                            <img src="/static/pending.png" alt="Pending">
                        </a>
                        <a>
                            <button class="agregarCarrito btn btn-info" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                    <td>
                        <a>
                            <img src="/static/pending.png" alt="Pending">
                        </a>
                        <a>
                            <button class="agregarCarrito btn btn-info" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                    <td>
                        <a>
                            <img src="/static/pending.png" alt="Pending">
                        </a>
                        <a>
                            <button class="agregarCarrito btn btn-info" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                 </tr>
                 <tr>
                    <td>
                    </td>
                    <td style="padding-top: 25px;">
                        <a>
                            <button class="agregarCarrito btn btn-info mainyellow" type="submit" style="background: #CCA10F;"> Juego Completo</button>
                        </a>
                    </td>
                    <td>
                    </td>
                 </tr>
             </table>
             <br>
        </div>
    </section>

    <!-- Tabernáculos -->
    <section class="section-content py-5">
	    <div class="container" id="borderfiesta">
            <table>
                <tr>
                    <td>
                        <p class="encabezadostextos">Tabernáculos - Milenio</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua.</p>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <a>
                            <img src="/static/pending.png" alt="Pending">
                        </a>
                        <a>
                            <button class="agregarCarrito btn btn-info" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                    <td>
                        <a>
                            <img src="/static/pending.png" alt="Pending">
                        </a>
                        <a>
                            <button class="agregarCarrito btn btn-info" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                    <td>
                        <a>
                            <img src="/static/pending.png" alt="Pending">
                        </a>
                        <a>
                            <button class="agregarCarrito btn btn-info" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                 </tr>
                 <tr>
                    <td>
                    </td>
                    <td style="padding-top: 25px;">
                        <a>
                            <button class="agregarCarrito btn btn-info mainyellow" type="submit" style="background: #CCA10F;"> Juego Completo</button>
                        </a>
                    </td>
                    <td>
                    </td>
                 </tr>
             </table>
             <br>
        </div>
    </section>
{% endblock %}