{% extends "layout.html" %}

{% block title %}
    Anillos
{% endblock %}

{% block main %}

    <br><br><br>

    <!-- Content -->
    <section class="section-content py-5">
	    <div class="container"  style="max-width: 920px">
            <table class="tabdoscol">
                <tr>
                    <td>
                        <p class="encabezadostextos">Anillo Pascua</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua.</p>
	                    <hr>
                        <h6 class="container">Anillo Pascua</h6>
                        <h6 class="container">$100</h6>
                    </td>
                    <td>
                        <a>
                            <img src="/static/colfiesta/anillopascua.jpeg" alt="Anillo Pascua" id="imagedisplay" class="imagenjoyas">
                        </a>
                        <a>
                            <button class="anillos btn btn-info botimgabader" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                 </tr>
             </table>
        </div>
    </section>
    <hr>
	<section class="section-content py-5">
	    <div class="container"  style="max-width: 920px">
            <table class="tabdoscol">
                <tr>
                    <td>
                        <p class="encabezadostextos">Anillo Matzá</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua.</p>
                        <hr>
                        <h6 class="container">Anillo Matzá</h6>
                        <h6 class="container">$100</h6>
                    </td>
                    <td>
                        <a>
                            <img src="/static/colfiesta/anillomatza.jpeg" id="imagedisplay" alt="Anillo Matzá" class="imagenjoyas">
                        </a>
                        <a>
                            <button class="anillos btn btn-info botimgabader" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                 </tr>
             </table>
        </div>
    </section>
    <hr>
    <section class="section-content py-5">
	    <div class="container"  style="max-width: 920px">
            <table class="tabdoscol">
                <tr>
                    <td>
                        <p class="encabezadostextos">Anillo Resurrección</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua.</p>
                        <hr>
                        <h6 class="container">Anillo Resurrección</h6>
                        <h6 class="container">$100</h6>
                    </td>
                    <td>
                        <a>
                            <img src="/static/colfiesta/anilloresurreccion.jpeg" id="imagedisplay" alt="Anillo Resurrección" class="imagenjoyas">
                        </a>
                        <a>
                            <button class="anillos btn btn-info botimgabader" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                 </tr>
             </table>
        </div>
    </section>
    <hr>
    <section class="section-content py-5">
	    <div class="container"  style="max-width: 920px">
            <table class="tabdoscol">
                <tr>
                    <td>
                        <p class="encabezadostextos">Anillo Primicias</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua.</p>
                        <hr>
                        <h6 class="container">Anillo Primicias</h6>
                        <h6 class="container">$120</h6>
                    </td>
                    <td>
                        <a>
                            <img src="/static/colfiesta/anilloprimicias.jpeg" id="imagedisplay" alt="Anillo Primicias" class="imagenjoyas">
                        </a>
                        <a>
                            <button class="anillos btn btn-info botimgabader" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                 </tr>
             </table>
        </div>
    </section>
    <hr>
	<section class="section-content py-5">
	    <div class="container"  style="max-width: 920px">
            <table class="tabdoscol">
                <tr>
                    <td>
                        <p class="encabezadostextos">Anillo Penteconstés</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua.</p>
                        <hr>
                        <h6 class="container">Anillo Pentecostés</h6>
                        <h6 class="container">$120</h6>
                    </td>
                    <td>
                        <a>
                            <img src="/static/colfiesta/anillopentecostes.jpeg" id="imagedisplay" alt="Anillo Pentecostes" class="imagenjoyas">
                        </a>
                        <a>
                            <button class="anillos btn btn-info botimgabader" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                 </tr>
             </table>
        </div>
    </section>
{% endblock %}