{% extends "layout.html" %}

{% block title %}
    Aretes
{% endblock %}

{% block main %}

    <br><br><br>

    <!-- Content -->
    <section class="section-content py-5">
	    <div class="container"  style="max-width: 920px">
            <table class="tabdoscol">
                <tr>
                    <td>
                        <p class="encabezadostextos">Aretes Pascua</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua.</p>
	                    <hr>
                        <h6 class="container">Aretes Pascua</h6>
                        <h6 class="container">$120</h6>
                    </td>
                    <td>
                        <a>
                            <img img src="/static/colfiesta/aretespascua.jpeg" id="imagedisplay" alt="Aretes Pascua" class="imagenjoyas">
                        </a>
                        <a>
                            <button class="aretes btn btn-info botimgabader" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                 </tr>
             </table>
        </div>
    </section>
    <hr>
	<section class="section-content py-5">
	    <div class="container"  style="max-width: 920px">
            <table class="tabdoscol">
                <tr>
                    <td>
                        <p class="encabezadostextos">Aretes Matzá</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua.</p>
	                    <hr>
                        <h6 class="container">Aretes Matzá</h6>
                        <h6 class="container">$150</h6>
                    </td>
                    <td>
                        <a>
                            <img src="/static/colfiesta/aretesmatza.jpeg" id="imagedisplay" alt="Aretes Matzá" class="imagenjoyas">
                        </a>
                        <a>
                            <button class="aretes btn btn-info botimgabader" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                 </tr>
             </table>
        </div>
    </section>
    <hr>
    <section class="section-content py-5">
	    <div class="container"  style="max-width: 920px">
            <table class="tabdoscol">
                <tr>
                    <td>
                        <p class="encabezadostextos">Aretes Primicias</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua.</p>
	                    <hr>
                        <h6 class="container">Aretes Primicias</h6>
                        <h6 class="container">$130</h6>
                    </td>
                    <td>
                        <a>
                            <img src="/static/colfiesta/aretesprimicias.jpeg" id="imagedisplay" alt="Aretes Primicias" class="imagenjoyas">
                        </a>
                        <a>
                            <button class="aretes btn btn-info botimgabader" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                 </tr>
             </table>
        </div>
    </section>
    <hr>
    <section class="section-content py-5">
	    <div class="container"  style="max-width: 920px">
            <table class="tabdoscol">
                <tr>
                    <td>
                        <p class="encabezadostextos">Aretes Pentecostés</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua.</p>
	                    <hr>
                        <h6 class="container">Aretes Pentecostés</h6>
                        <h6 class="container">$130</h6>
                    </td>
                    <td>
                        <a>
                            <img src="/static/colfiesta/aretespentecostes.jpeg" id="imagedisplay" alt="Aretes Pentecostes" class="imagenjoyas">
                        </a>
                        <a>
                            <button class="aretes btn btn-info botimgabader" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                 </tr>
             </table>
        </div>
    </section>
{% endblock %}