{% extends "layout.html" %}

{% block title %}
    Brazaletes
{% endblock %}

{% block main %}

    <br><br><br>

    <!-- Content -->
    <section class="section-content py-5">
	    <div class="container"  style="max-width: 920px">
            <table class="tabdoscol">
                <tr>
                    <td>
                        <p class="encabezadostextos">Brazalete Matzá</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua.</p>
                        <hr>
                        <h6 class="container">Brazalete Matzá</h6>
                        <h6 class="container">$200</h6>
                    </td>
                    <td>
                        <a>
                            <img src="/static/colfiesta/brazaletematza.jpeg" id="imagedisplay" alt="Brazalete Matzá" class="imagenjoyas">
                        </a>
                        <a>
                            <button class="brazaletes btn btn-info botimgabader" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                 </tr>
             </table>
        </div>
    </section>
    <hr>
	<section class="section-content py-5">
	    <div class="container"  style="max-width: 920px">
            <table class="tabdoscol">
                <tr>
                    <td>
                        <p class="encabezadostextos">Brazalete Primicias</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua.</p>
                        <hr>
                        <h6 class="container">Brazalete Primicias</h6>
                        <h6 class="container">$200</h6>
                    </td>
                    <td>
                        <a>
                            <img src="/static/colfiesta/brazaleteprimicias.jpeg" id="imagedisplay" alt="Brazalete Primicias" class="imagenjoyas">
                        </a>
                        <a>
                            <button class="brazaletes btn btn-info botimgabader" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                 </tr>
             </table>
        </div>
    </section>
    <hr>
    <section class="section-content py-5">
	    <div class="container"  style="max-width: 920px">
            <table class="tabdoscol">
                <tr>
                    <td>
                        <p class="encabezadostextos">Brazalete Pentecostés</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua.</p>
                        <hr>
                        <h6 class="container">Brazalete Pentecostés</h6>
                        <h6 class="container">$210</h6>
                    </td>
                    <td>
                        <a>
                            <img src="/static/colfiesta/brazaletepentecostes.jpeg" id="imagedisplay" alt="Brazalete Pentecostes" class="imagenjoyas">
                        </a>
                        <a>
                            <button class="brazaletes btn btn-info botimgabader" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                 </tr>
             </table>
        </div>
    </section>
{% endblock %}