{% extends "layout.html" %}

{% block title %}
    Collares
{% endblock %}

{% block main %}

    <br><br><br>

    <!-- Content -->
    <section class="section-content py-5">
	    <div class="container"  style="max-width: 920px">
            <table class="tabdoscol">
                <tr>
                    <td>
                        <p class="encabezadostextos">Collar Pascua</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua.</p>
                        <hr>
                        <h6 class="container">Collar Pascua</h6>
                        <h6 class="container">$200</h6>
                    </td>
                    <td>
                        <a>
                            <img src="/static/colfiesta/collarpascua.jpeg" id="imagedisplay" alt="Collar Pascua" class="imagenjoyas">
                        </a>
                        <a>
                            <button class="collares btn btn-info botimgabader" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                 </tr>
             </table>
        </div>
    </section>
    <hr>
	<section class="section-content py-5">
	    <div class="container"  style="max-width: 920px">
            <table class="tabdoscol">
                <tr>
                    <td>
                        <p class="encabezadostextos">Collar Matzá</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua.</p>
                        <hr>
                        <h6 class="container">Collar Matzá</h6>
                        <h6 class="container">$250</h6>
                    </td>
                    <td>
                        <a>
                            <img src="/static/colfiesta/collarmatza.jpeg" id="imagedisplay" alt="Collar Matzá" class="imagenjoyas">
                        </a>
                        <a>
                            <button class="collares btn btn-info botimgabader" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                 </tr>
             </table>
        </div>
    </section>
    <hr>
    <section class="section-content py-5">
	    <div class="container"  style="max-width: 920px">
            <table class="tabdoscol">
                <tr>
                    <td>
                        <p class="encabezadostextos">Collar Primicias</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua.</p>
                        <hr>
                        <h6 class="container">Collar Primicias</h6>
                        <h6 class="container">$200</h6>
                    </td>
                    <td>
                        <a>
                            <img src="/static/colfiesta/collarprimicias.jpeg" id="imagedisplay" alt="Collar Primicias" class="imagenjoyas">
                        </a>
                        <a>
                            <button class="collares btn btn-info botimgabader" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                 </tr>
             </table>
        </div>
    </section>
    <hr>
    <section class="section-content py-5">
	    <div class="container"  style="max-width: 920px">
            <table class="tabdoscol">
                <tr>
                    <td>
                        <p class="encabezadostextos">Collar Mandamientos</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua.</p>
                        <hr>
                        <h6 class="container">Collar Mandamientos</h6>
                        <h6 class="container">$240</h6>
                    </td>
                    <td>
                        <a>
                            <img src="/static/colfiesta/collarmandamientos.jpeg" id="imagedisplay" alt="Collar Mandamientos" class="imagenjoyas">
                        </a>
                        <a>
                            <button class="collares btn btn-info botimgabader" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                 </tr>
             </table>
        </div>
    </section>
{% endblock %}