{% extends "layout.html" %}

{% block title %}
    Carrito de Compras
{% endblock %}

{% block main %}
    <div class="containercarro">
        <br><br><br><br>
        <div class="header">
            <h3 class="headerproducto">Producto</h3>
            <h3 class="headercategoria">Categoria</h3>
            <h3 class="headerprecio">Precio</h3>
            <h3 class="headercantidad">Cantidad</h3>
            <h3 class="headertotal">Total</h3>
        </div>
        <form action="/compras" method="post">
            <div class="productoscarro">

            </div>
            <div class="footer" style="display: none;" id="paraPagar">
                <div style="float: left;">
                    <button class="vaciar" title="Vaciar Carrito" onclick="clearSession();" value="reset">Vaciar Carrito</button>
                </div>
                <div style="float: rigth;">
                    <button class="pagar" style="float: right;" title="Pagar Ahora" type="submit" value="Submit">
                        <a onclick="alertaCompra(); clearSession();" href="/gracias" style="color: white;">Proceda al Pago</a>
                    </button>
                </div>
            </div>
        </form>
        <br><br>
    </div>
{% endblock %}