{% extends "layout.html" %}

{% block title %}
    Carrito de Compras
{% endblock %}

{% block main %}
    <div class="container">
        <br><br><br><br>
        <div class="gracias">
            <article>
                <h2>Transacción Completada</h2>
                <h3 style="color: #CCA10F;">Gracias por su Compra</h3>
            </article>
            <button id="links2" onclick="clearSession();"><a style="color: white;" href="/">Volver al inicio</a></button>
        </div>
    </div>
{% endblock %}