{% extends "layout.html" %}

{% block title %}
    Joyas
{% endblock %}

{% block main %}

    <br><br><br>

    <!-- Content -->
    <section class="section-content py-5">
	    <div class="container"  style="max-width: 920px">
            <table class="tabdoscol">
                <tr>
                    <td>
                        <p class="encabezadostextos">Anillos</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua..</p>
                    </td>
                    <td>
                        <a>
                            <img src="/static/pending.png" alt="Pending" style="position: relative; left: 50%;">
                        </a>
                        <a href="/anillos">
                            <button class="btn btn-info botimgabader" type="submit"> Ir a la Anillos</button>
                        </a>
                    </td>
                 </tr>
             </table>
        </div>
    </section>
	<br><br><br>
	<section class="section-content py-5">
	    <div class="container"  style="max-width: 920px">
            <table class="tabdoscol">
                <tr>
                    <td>
                        <a>
                            <img src="/static/pending.png" alt="Pending">
                        </a>
                        <a href="/aretes">
                            <button class="btn btn-info botimgabader botimgabaizq" type="submit"> Ir a la Aretes</button>
                        </a>
                    </td>
                    <td>
                        <p class="encabezadostextos">Aretes</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua..</p>
                    </td>
                 </tr>
             </table>
        </div>
    </section>

    <section class="section-content py-5">
	    <div class="container"  style="max-width: 920px">
            <table class="tabdoscol">
                <tr>
                    <td>
                        <p class="encabezadostextos">Brazaletes</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua..</p>
                    </td>
                    <td>
                        <a>
                            <img src="/static/pending.png" alt="Pending" style="position: relative; left: 50%;">
                        </a>
                        <a href="/brazaletes">
                            <button class="btn btn-info botimgabader" type="submit"> Ir a la Brazaletes</button>
                        </a>
                    </td>
                 </tr>
             </table>
        </div>
    </section>
	<br><br><br>
	<section class="section-content py-5">
	    <div class="container"  style="max-width: 920px">
            <table class="tabdoscol">
                <tr>
                    <td>
                        <a>
                            <img src="/static/pending.png" alt="Pending">
                        </a>
                        <a href="/collares">
                            <button class="btn btn-info botimgabader botimgabaizq" type="submit"> Ir a la Collares</button>
                        </a>
                    </td>
                    <td>
                        <p class="encabezadostextos">Collares</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua..</p>
                    </td>
                 </tr>
             </table>
        </div>
    </section>
    <section class="section-content py-5">
	    <div class="container"  style="max-width: 920px">
            <table class="tabdoscol">
                <tr>
                    <td>
                        <p class="encabezadostextos">Tobilleras</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua..</p>
                    </td>
                    <td>
                        <a>
                            <img src="/static/pending.png" alt="Pending" style="position: relative; left: 50%;">
                        </a>
                        <a href="#"> <!-- To implement later -->
                            <button class="btn btn-info botimgabader" type="submit"> Ir a la Tobilleras</button>
                        </a>
                    </td>
                 </tr>
             </table>
        </div>
    </section>
	<br><br><br>
	<section class="section-content py-5">
	    <div class="container"  style="max-width: 920px">
            <table class="tabdoscol">
                <tr>
                    <td>
                        <a>
                            <img src="/static/pending.png" alt="Pending">
                        </a>
                        <a href="/topos">
                            <button class="btn btn-info botimgabader botimgabaizq" type="submit"> Ir a la Topos</button>
                        </a>
                    </td>
                    <td>
                        <p class="encabezadostextos">Topos</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua..</p>
                    </td>
                 </tr>
             </table>
        </div>
    </section>

{% endblock %}