{% extends "layout.html" %}

{% block title %}
    Inicio Sesión
{% endblock %}

{% block main %}

    <!-- Log in form. -->
    <div>
        <br><br><br><br><br>
    	<form action="/login" method="post" class="container"  id="logsign" name="form">
    	    <br><br>
            <div class="form-group" onKeyup="enable()">
                <input autocomplete="on" autofocus class="form-control" name="usuario" placeholder="Ingrese su Correo Electrónico" type="text">
            </div>
            <div class="form-group" onKeyup="enable()">
                <input class="form-control" name="password" placeholder="Contraseña" type="password">
            </div>
            <button class="btn btn-primary" type="submit" style="background: #0795AA;" disabled="disabled" id="submitbtn" value="Submit">Iniciar Sesión</button>
            <br><br>
        </form>
    </div>
    <br>
    <table class="container" style="max-width: 460px;">
        <tr>
            <td id="centerall">
                <p>No es usuario aún? <a href="/suscribir" id="links2">Suscríbase</a></p>
            </td>
        </tr>
    </table>
    <br><br><br>

{% endblock %}