{% extends "layout.html" %}

{% block title %}
    Tobilleras
{% endblock %}

{% block main %}

      <br><br><br>

    <!-- Content -->
    <section class="section-content py-5">
	    <div class="container"  style="max-width: 920px">
            <table class="tabdoscol">
                <tr>
                    <td>
                        <p class="encabezadostextos">Tobilleras 1</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua..</p>
                    </td>
                    <td>
                        <a>
                            <img src="/static/pending.png" alt="Pending" style="position: relative; left: 50%;">
                        </a>
                        <a>
                            <button class="agregarCarrito btn btn-info botimgabader" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                 </tr>
             </table>
        </div>
    </section>
	<br><br><br>
	<section class="section-content py-5">
	    <div class="container"  style="max-width: 920px">
            <table class="tabdoscol">
                <tr>
                    <td>
                        <a>
                            <img src="/static/pending.png" alt="Pending">
                        </a>
                        <a>
                            <button class="agregarCarrito btn btn-info botimgabader botimgabaizq" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                    <td>
                        <p class="encabezadostextos">Tobilleras 2</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua..</p>
                    </td>
                 </tr>
             </table>
        </div>
    </section>
    <br><br><br>
    <section class="section-content py-5">
	    <div class="container"  style="max-width: 920px">
            <table class="tabdoscol">
                <tr>
                    <td>
                        <p class="encabezadostextos">Tobilleras 3</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua..</p>
                    </td>
                    <td>
                        <a>
                            <img src="/static/pending.png" alt="Pending" style="position: relative; left: 50%;">
                        </a>
                        <a>
                            <button class="agregarCarrito btn btn-info botimgabader" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                 </tr>
             </table>
        </div>
    </section>
{% endblock %}