{% extends "layout.html" %}

{% block title %}
    Topos
{% endblock %}

{% block main %}

    <br><br><br>

    <!-- Content -->
    <section class="section-content py-5">
	    <div class="container"  style="max-width: 920px">
            <table class="tabdoscol">
                <tr>
                    <td>
                        <p class="encabezadostextos">Topos de Pascua</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua.</p>
                        <hr>
                        <h6 class="container">Topos de Pascua</h6>
                        <h6 class="container">70</h6>
                    </td>
                    <td>
                        <a>
                            <img src="/static/colfiesta/topospascua.jpeg" id="imagedisplay" alt="Topos de Pascua" class="imagenjoyas">
                        </a>
                        <a>
                            <button class="topos btn btn-info botimgabader" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                 </tr>
             </table>
        </div>
    </section>
    <hr>
	<section class="section-content py-5">
	    <div class="container"  style="max-width: 920px">
            <table class="tabdoscol">
                <tr>
                    <td>
                        <p class="encabezadostextos">Topos Matzá</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua.</p>
                        <hr>
                        <h6 class="container">Topos Matzá</h6>
                        <h6 class="container">60</h6>
                    </td>
                    <td>
                        <a>
                            <img src="/static/colfiesta/toposmatza.jpeg" id="imagedisplay" alt="Topos Matzá" class="imagenjoyas">
                        </a>
                        <a>
                            <button class="topos btn btn-info botimgabader" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                 </tr>
             </table>
        </div>
    </section>
    <hr>
    <section class="section-content py-5">
	    <div class="container"  style="max-width: 920px">
            <table class="tabdoscol">
                <tr>
                    <td>
                        <p class="encabezadostextos">Topos Primicias</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua.</p>
                        <hr>
                        <h6 class="container">Topos Primicias</h6>
                        <h6 class="container">$100</h6>
                    </td>
                    <td>
                        <a>
                            <img src="/static/colfiesta/toposprimicias.jpeg" id="imagedisplay" alt="Topos Primicias" class="imagenjoyas">
                        </a>
                        <a>
                            <button class="topos btn btn-info botimgabader" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                 </tr>
             </table>
        </div>
    </section>
    <hr>
    <section class="section-content py-5">
	    <div class="container"  style="max-width: 920px">
            <table class="tabdoscol">
                <tr>
                    <td>
                        <p class="encabezadostextos">Topos Espíritu Santo</p>
                        <p class="textos"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
	                    tempor incididunt ut labore et dolore magna aliqua.</p>
                        <hr>
                        <h6 class="container">Topos Espíritu Santo</h6>
                        <h6 class="container">$100</h6>
                    </td>
                    <td>
                        <a>
                            <img src="/static/colfiesta/toposespiritusanto.jpeg" id="imagedisplay" alt="Topos Espiritu santo" class="imagenjoyas">
                        </a>
                        <a>
                            <button class="topos btn btn-info botimgabader" type="submit">Agregar al Carrito</button>
                        </a>
                    </td>
                 </tr>
             </table>
        </div>
    </section>
{% endblock %}